.sp-menu-dropdown {
	position: relative;
	@include sp-shape(rectangle);

	> .sp-menu-item:first-child, > .sp-menu-header:first-child {
		@include sp-shape(rectangle);
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
	}

	> .sp-menu-item:last-child, > .sp-menu-header:last-child {
		@include sp-shape(rectangle);
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}

	> .sp-menu-item {
		position: relative;
		overflow: visible;

		@include sp-state(hover) {
			> .sp-menu-dropdown {
				visibility: visible;
				opacity: 1;
				transform: none !important;
			}
		}

		@include sp-state(active) {
			> .sp-menu-dropdown {
				visibility: visible;
				opacity: 1;
				transform: none !important;
			}
		}
	}


	> .sp-menu-item > .sp-menu-dropdown {
		visibility: hidden;
		transition: 0.1s ease visibility, 0.25s ease opacity, 0.25s ease transform;
		transition-delay: 0.25s;
		opacity: 0;
		transform: none;

		&.sp-menu-sub-left, &.sp-menu-sub-right {
			position: absolute;
			top: 0;
		}

		&.sp-menu-sub-left {
			right: calc(100% - 3px);
			transform: translateX(40px);
		}

		&.sp-menu-sub-right {
			left: calc(100% - 3px);
			transform: translateX(-40px);
		}

	}

	// &.sp-menu-arrow::before {
	// 	content: "";
	// 	display: inline-block;
	// 	position: absolute;
	// 	top: 0;
	// 	left: 50%;
	// 	transform: translate(-50%, -100%);
	// 	@include sp-shape(triangle);
	// 	border-width: 15px;
	// 	border-bottom-color: $sp-color-white;
	// 	//box-shadow: 0px -5px 5px -4px rgba(0,0,0,0.41);
	// }

	// &.sp-alt-one {

	// 	&::before {
	// 		border-bottom-color: $sp-color-light-lighter;
	// 	}
	// }

	// &.sp-alt-two {

	// 	&::before {
	// 		border-bottom-color: $sp-color-light-base;
	// 	}
	// }

	// @include sp-state(dark) {
	// 	&::before {
	// 		border-bottom-color: $sp-color-dark-lighter;
	// 	}

	// 	&.sp-alt-one {

	// 		&::before {
	// 			border-bottom-color: $sp-color-dark-base;
	// 		}
	// 	}

	// 	&.sp-alt-two {

	// 		&::before {
	// 			border-bottom-color: $sp-color-dark-darker;
	// 		}
	// 	}
	// }

	&::before {
		display: none;
		content: "";
		background-color: inherit;
		background-image: inherit;
		width: 20px;
		height: 20px;
		position: absolute;
		top: 0;
		left: 50%;
		@include sp-shadow(low, 0 0 .4em .27em);
		clip-path: polygon(200% -100%, -100% -100%, -100% 200%);
		transform: translate(-50%, -44%) rotate(45deg);
	}

	&.sp-menu-dropdown-below {
		&::before {
			display: inline-block;
		}
	}

	&.sp-menu-dropdown-above {
		&::before {
			display: inline-block;
			top: auto;
			bottom: 0;
			transform: translate(-50%, 44%) rotate(225deg);
		}
	}

	&.sp-menu-dropdown-right {
		&::before {
			display: inline-block;
			top: 50%;
			left: 0;
			transform: translate(-44%, -50%) rotate(-45deg);
		}
	}

	&.sp-menu-dropdown-left {
		&::before {
			top: 50%;
			left: auto;
			right: 0;
			transform: translate(44%, -50%) rotate(135deg);
			display: inline-block;
		}
	}
}