

.sp-app {
	@include sp-bg-color('light-lighter');

	&.sp-technical {
		height: 100%;
		display: flex;
		flex-direction: column;
		max-height: 100vh;
		overflow: hidden;
	// 	@include sp-bg-color('dark-darker');

		> .sp-app-content {
			flex-grow: 1;
			padding: 0 !important;
			overflow: auto;
			height: auto;
			position: relative;

			.sp-app-scroll-area {
				height: 100%;
    			width: 100%;
    			max-height: 100%;
    			max-width: 100%;
    			overflow: auto;
    			position: absolute;
    			top: 0;
    			left: 0;

    			* {
    				max-width: none;
    			}
			}

			&.sp-container-dark {
				@include sp-bg-overlay-dark(2);
			}
		}

		> .sp-app-bar, > .sp-app-header, > .sp-app-menu, > .sp-app-footer {
			flex-grow: 0;
		}

		.sp-app-footer {
			@include sp-height(1);
		}

		> .sp-app-menu > .sp-row {
			min-width: 1360px;
		}

	}
}

.sp-app-bar {
	position: relative;
	min-height: 75.67px;
}

.sp-app-org-label {
	min-height: 37.59px;
}

.sp-app-notifications {
	display: inline-block;
	position: absolute;
	top: 75px;
	right: 10px;
	overflow: visible;
	max-height: 0;
	z-index: 10;
}

.sp-app-header {
	position: relative;
	min-height: 72.09px;
}

.sp-app-menu {
	position: relative;
}

.sp-app-content {
	position: relative;
	@include sp-padding(4, top);
	@include sp-padding(5, bottom);
}

.sp-app-content-sidebar {
	min-width: $sp-length-1;
}



.sp-app-content-sidebar-icon-menu {
	min-width: $sp-length-1;
	height: 100%;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}

.sp-app-content-sidebar-menu {
	min-width: $sp-length-5;
	height: 100%;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;

	&:nth-child(1) {
		z-index: 5
	}

	&:nth-child(2) {
		z-index: 4
	}

	&:nth-child(3) {
		z-index: 3
	}

	&:nth-child(4) {
		z-index: 2
	}

	&:nth-child(5) {
		z-index: 1
	}

	.sp-app-content-sidebar-menu-content {
		flex: 1;
		overflow-y: scroll;
	}
}

.sp-app-content-main {
	flex: 1;
	//margin-left: -1px;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.sp-app-content-main-scroll {
	@include sp-padding(3);
	flex: 1;
	overflow: auto;
}

.sp-app-footer {
	position: relative;
}

.sp-app-side-menu {
	@include sp-width(7);
	height: 100vh;
	position: absolute;
	top: 0;
	left:0;
	transform: none;
	transition: 0.5s ease transform;
	overflow-x: hidden;
	overflow-y: auto;

	&.sp-hidden {
		transform: translateY(100%);
	}
}

.sp-creative-thumbnail {
	position: relative;
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;

	> button.sp-minimal.sp-simple-icon {
		display: none;
	}

	> button.sp-minimal.sp-simple-icon, .sp-button.sp-minimal.sp-simple-icon {
		background: radial-gradient(ellipse at center, rgba(255,255,255,0.25) 0%,rgba(255,255,255,0) 75%) !important;

		@include sp-font-color(contrast);
	}

	&:hover {
		> button.sp-minimal.sp-simple-icon {
			display: inline-block;
		}
	}

	+ div {
		font-size: 12px;
	}

	+ div > .sp-inline-icon-star-filled {
		@include sp-font-color(primary);
		@include sp-margin(1, right);
	}

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-size: 10px;
		background-image: url(assets/img/checker.png);
		z-index: -1;
		opacity: 0.05;
	}
}

.sp-preview-panel {
	display: inline-block;
	position: relative;
	@include sp-padding(1);
	.sp-preview-panel-content {
		display: inline-block;
		position: relative;

		.sp-preview-panel-grid {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 0;
			background-size: 10px;
			background-image: url(assets/img/checker.png);
			opacity: 0.05;
		}
	}


	.sp-preview-panel-down, .sp-preview-panel-right, .sp-preview-panel-diag {
		display: inline-block;
		min-width: 30px;
		min-height: 30px;
		position: absolute;
		box-shadow: none;
		z-index: 0;
		opacity: 0.25;
		border: 1px solid rgba(0,0,0,0.25);

		&::before {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		&:hover {
			opacity: 0.4;
			//border: 1px solid rgba(0,0,0,0.15);

			&::before {
				@include sp-font-color(primary);
			}
		}
	}

	.sp-preview-panel-down {
		width: 100px;
		max-width: 100%;
		top: 100%;
		left: 50%;
		transform: translateX(-50%);
		border-bottom-left-radius: 15px;
		border-bottom-right-radius: 15px;
	}

	.sp-preview-panel-right {
		height: 100px;
		max-height: 100%;
		top: 50%;
		left: 100%;
		transform: translateY(-50%);
		border-top-right-radius: 15px;
		border-bottom-right-radius: 15px;

		&::before {
			transform: translate(-50%, -50%) rotate(-90deg);
		}
	}

	.sp-preview-panel-diag {
		top: 100%;
		left: 100%;
		border-top-right-radius: 15px;
		border-bottom-right-radius: 15px;
		border-bottom-left-radius: 15px;

		&::before {
			transform: translate(-50%, -50%) scale(0.75);
		}
	}
}