.sp-wrapper {
  display: flex;
  flex-direction: column;

  & > * > * {
    max-width: #{$max-width}px;
    //margin: auto !important;
  }

  & > .content {
    flex: 2 1 auto;
  }

  & > *:not(.content) {
    flex: 0 0 auto;
  }
}

.sp-row {
  margin: 0 auto;
  max-width: #{$max-width}px;
  width: 100%;
  align-items: flex-start;
  & > .column {
    margin: 0;
    padding: 0;
  }

  &.sp-fluid {
    max-width: none !important;
    box-sizing: border-box;
  }

  &.sp-vstretch {
    align-items: stretch;
  }

  &.sp-vtop {
    align-items: flex-start;
  }

  &.sp-vbottom {
    align-items: flex-end;
  }

  &.sp-vbaseline {
    align-items: baseline;
  }

  &.sp-center {
    justify-content: center;
  }

  &.sp-space-between {
    justify-content: space-between;
  }

  &.sp-wrap {
    flex-wrap: wrap;
  }

  &.sp-vcenter {
    align-items: center;
  }

  &.sp-col {
    flex-direction: column;
  }

  @include mobile {
    display: block;
    width: 100%;
  }

  @include tablet {
    display: flex;
  }

  @include desktop {
    display: flex;
  }
}

.sp-col {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0.75em;
  box-sizing: border-box;

  .sp-fluid & {
    max-width: none;
  }

  &:first-child {
    .sp-fluid & {
      @include sp-padding(3, left);
    }
  }
  &:last-child {
    .sp-fluid & {
      @include sp-padding(3, right);
    }
  }

  @for $i from 1 through 12 {
    &.sp-span-#{$i} {
      flex: none;
      width: ($i / 12) * 100%
    }

    &.sp-offset-#{$i} {
      flex: none;
      margin-left: ($i / 12) * 100%
    }
  }
}

@each $val in (flex-start, flex-end, center, space-between, space-around, space-evenly) {
  .sp-flex-justify-content-#{$val} {
    justify-content: #{$val};
  }
}

@each $val in (flex-start, flex-end, center, baseline, stretch) {
  .sp-flex-align-items-#{$val} {
    align-items: #{$val};
  }
}

@each $val in (flex-start, flex-end, center, space-between, space-around, space-evenly, stretch) {
  .sp-flex-align-content-#{$val} {
    align-content: $val;
  }
}

@each $val in (nowrap, wrap, wrap-reverse) {
  .sp-flex-#{$val} {
    flex-wrap: #{$val};
  }
}

@each $val in (row, row-reverse, column, column-reverse) {
  .sp-flex-dir-#{$val} {
    flex-direction: #{$val};
  }
}

@for $i from 0 through 12 {
  .sp-flex-grow-#{$i} {
    flex-grow: $i;
  }
}

@for $i from 0 through 12 {
  .sp-flex-shrink-#{$i} {
    flex-shrink: $i;
  }
}

.sp-flex-basis-auto {
  flex-basis: auto;
}

.sp-flex-basis-0 {
  flex-basis: 0;
}