.sp-block {
  @include sp-block;
}

.sp-flex {
  @include sp-flex;
}

.sp-inline {
  @include sp-inline;
}

.sp-inline-flex {
  @include sp-inline-flex;
}

.sp-absolute {
  @include sp-absolute;
}

.sp-relative {
  @include sp-relative;
}

.sp-fixed {
  @include sp-fixed;
}

.sp-hidden, *[hidden] {
  @include sp-hidden;
}

.sp-clearfix {
  @include sp-clearfix;
}

.sp-float-left {
  @include sp-float-left;
}

.sp-float-right {
  @include sp-float-right;
}

.sp-no-overflow {
  @include sp-no-overflow;
}

.sp-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sp-no-wrap {
  white-space: nowrap !important;
}

.sp-no-wrap-clipped {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: clip !important;
}

.sp-overflow-wrap {
  overflow-wrap: normal !important;
  white-space: pre-wrap !important;
}

.sp-full-width {
  box-sizing: border-box;
  width: 100%;
}

.sp-scroll-vertical {
  overflow-y: auto;
}

.sp-pointer-events-auto {
  pointer-events: auto !important;
}

.sp-pointer-events-none {
  pointer-events: none !important;
}