body {
  @include sp-font-body;
  @include sp-font-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

strong {
  @include sp-font-weight(semi-bold)
}

em {
  @include sp-font-weight(light);
}

ul, ol, li {
  @include sp-padding(0);
  @include sp-margin(0);
  list-style: none
}