.sp-data-table {
  border-collapse: collapse;
  border-spacing: 0;

  * {
    box-sizing: border-box;
  }

  .sp-data-table-head {
    @include sp-bg-overlay-dark(3);
    th, .sp-data-table-head-cell {
      font-weight: 600;
      text-align: left;
      @include sp-font-color(contrast);
      @include sp-padding(1);
      &:first-child {
        text-align: left;
        width: 250px;
        flex: 0 0 250px !important;
      }
    }
  }

  * > td:first-child, .sp-data-table-cell:first-child {
    width: 250px;
    flex: 0 0 250px !important;
  }

  .sp-data-table-total {
    @include sp-bg-overlay-dark(2);
    @include sp-font-color(contrast);
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    td:first-child, .sp-data-table-cell:first-child {
      font-weight: 600;
      text-align: left;
    }
  }

  .sp-data-table-category {
    td, .sp-data-table-cell {
      padding-top: 3px;
      padding-bottom: 3px;
      @include sp-font-color(contrast);
    }

    td:first-child, .sp-data-table-cell:first-child {
      font-weight: 600;
      text-align: left;
    }
  }

  .sp-data-table-row-expanded {
    @include sp-bg-overlay-dark(1);
    .sp-inline-icon-placeholder::before {
      @extend %icon-circle-arrow-down;
    }
  }

  .sp-data-table-row {
    transition: opacity 300ms ease-in-out, top 300ms ease-in-out, height 300ms ease-in-out;
    opacity: 1;
  }

  .sp-data-table-row-collapse {
    opacity: 0;
    top: 0 !important;
  }

  tr:not(.sp-data-table-category):not(.sp-data-table-total):not(.sp-data-table-head),
  .sp-data-table-row:not(.sp-data-table-category):not(.sp-data-table-total):not(.sp-data-table-head) {
    &:hover {
      @include sp-font-color(contrast);
      @include sp-shadow(high, 0 0 .4em .07em);
      @include sp-bg-color(white);
      background-image: none;

      td, .sp-data-table-cell {
        background-color: white;
      }
    }
  }

  tr td:first-child, tr .sp-data-table-cell:first-child,
  .sp-data-table-row td:first-child, .sp-data-table-row .sp-data-table-cell:first-child {
    @include sp-font-weight(semi-bold);
  }

  .sp-data-table-nested-1 {
    td:first-child, .sp-data-table-cell:first-child {
      @include sp-padding(2, left);
    }
  }

  .sp-data-table-nested-2 {
    @include sp-bg-overlay-dark(1);
    td:first-child, .sp-data-table-cell:first-child {
      @include sp-padding(4, left);
    }
  }

  .sp-data-table-nested-3 {
    td:first-child, .sp-data-table-cell:first-child {
      @include sp-padding(5, left);
    }
  }

  td, .sp-data-table-cell {
    .sp-inline-icon-placeholder::before {
      @extend %icon-circle-arrow-right;
    }
    @include sp-padding(1);
    text-align: left;
  }

  .sp-data-table-requested {

  }

  .sp-data-table-delivered {

  }

  .sp-data-table-plugin {

  }

  .sp-data-table-measurable {

  }

  .sp-data-table-enhanced {

  }

}