.sp-query-builder-row-filters:after {
  content: '';
  width: 1px;
  height: calc(100% - 26px);
  position: absolute;
  background-color: rgba(0, 0, 0, 0.12);
  margin-top: 13.5px;
  left: -1px;
}

// React-Virtualized Overrides
.sp-data-table-empty .ReactVirtualized__Grid.ReactVirtualized__Table__Grid {
  will-change: unset !important;
}

.sp-data-table {
  border-collapse: collapse;
  border-spacing: 0;

  * {
    box-sizing: border-box;
  }

  th,
  .sp-data-table-head-cell,
  td,
  .sp-data-table-cell {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
  }

  .sp-data-table-head {
    @include sp-bg-overlay-dark(3);
    th, .sp-data-table-head-cell {
      min-width: 100px;
      width: auto;
      white-space: nowrap;

      border-top: 4px solid #CECECE;
      position: relative;

      border-right: 1px solid rgba(0, 0, 0, 0.1);

      font-weight: 600;
      text-align: left;
      @include sp-font-color(contrast);
      @include sp-padding(1);
      &:first-child {
        text-align: left;
      }
    }
  }

  .sp-data-table-total {
    @include sp-bg-overlay-dark(2);
    @include sp-font-color(contrast);
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    td:first-child, .sp-data-table-cell:first-child {
      font-weight: 600;
      text-align: left;
    }
  }

  .sp-data-table-category {
    td, .sp-data-table-cell {
      padding-top: 3px;
      padding-bottom: 3px;
      @include sp-font-color(contrast);

      border-right: 1px solid rgba(0, 0, 0, 0.1);
      border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    }

    td:first-child, .sp-data-table-cell:first-child {
      font-weight: 600;
      text-align: left;
    }
  }

  .sp-data-table-row-expanded {
    @include sp-bg-overlay-dark(1);
    .sp-inline-icon-placeholder::before {
      @extend %icon-circle-arrow-down;
    }
  }

  .sp-data-table-row {
    transition: opacity 300ms ease-in-out, top 300ms ease-in-out;
    opacity: 1;
  }

  .sp-data-table-row-collapse {
    opacity: 0;
    top: 0 !important;
  }

  tr:not(.sp-data-table-category):not(.sp-data-table-total):not(.sp-data-table-head),
  .sp-data-table-row:not(.sp-data-table-category):not(.sp-data-table-total):not(.sp-data-table-head) {
    &:hover {
      @include sp-font-color(contrast);
      @include sp-shadow(high, 0 0 .4em .07em);
      @include sp-bg-color(white);
      background-image: none;

      td, .sp-data-table-cell {
        background-color: white;
      }
    }
  }

  tr td:first-child, tr .sp-data-table-cell:first-child,
  .sp-data-table-row td:first-child, .sp-data-table-row .sp-data-table-cell:first-child {
    @include sp-font-weight(semi-bold);
  }

  .sp-data-table-nested-1 {
    td:first-child, .sp-data-table-cell:first-child {
      @include sp-padding(2, left);
    }
  }

  .sp-data-table-nested-2 {
    @include sp-bg-overlay-dark(1);
    td:first-child, .sp-data-table-cell:first-child {
      @include sp-padding(4, left);
    }
  }

  .sp-data-table-nested-3 {
    td:first-child, .sp-data-table-cell:first-child {
      @include sp-padding(5, left);
    }
  }

  td, .sp-data-table-cell {
    .sp-inline-icon-placeholder::before {
      @extend %icon-circle-arrow-right;
    }
    @include sp-padding(1);
    text-align: left;
  }

  .sp-data-table-requested {

  }

  .sp-data-table-delivered {

  }

  .sp-data-table-plugin {

  }

  .sp-data-table-measurable {

  }

  .sp-data-table-enhanced {

  }

}

//.sp-data-table .ui-resizable-handle {
//  width: 5px;
//  height: 100px;
//  background: red;
//}

.sp-data-table td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

/*

.sp-data-table .sp-data-table-category td {
  border-bottom: 2px solid rgba(0,0,0,0.1);
}

.sp-info-tooltip {
  opacity: 0.5;
  cursor: pointer;
}

.sp-info-tooltip:hover {
  opacity: 1;
}

.sp-info-tooltop.sp-color-contrast {
  opacity: 1 !important;
}

.sp-data-table th.sp-data-table-is-expandable {
  position: relative;
  padding-right: 40px;
  border-right: none;
}

.sp-data-table th.sp-data-table-is-expandable.sp-is-expanded {
  border-top: 4px solid #8D8D8D;
}

.sp-data-table th.sp-data-table-is-expandable.sp-is-expanded .sp-column-button {
  background-color: #8D8D8D;
}

.sp-data-table th.sp-data-table-is-expandable .sp-column-button {
  width: 25px;
  height: 25px;
  display: inline-block;
  position: absolute;
  right: -1px;
  top: -4px;
  box-sizing: border-box;
  padding: 4px 5px;
  background-color: rgba(0,0,0,0.15);
  cursor: pointer;
  color: white;
}

.sp-data-table th.sp-data-table-is-expandable .sp-column-button.sp-hidden {
  display: none;
}

.sp-data-table th.sp-data-table-is-expandable .sp-column-button:hover {
  background-color: rgba(0,0,0,0.45);
  color: white;
}

.sp-sub-column, .sp-load-column {
  box-shadow: inset 1000px 1000px 0px 1000px rgba(0,0,0,0.04);
  position: relative;
  overflow: hidden;
}

.sp-load-column {
  min-width: 0px !important;
  width: 0px !important;
  overflow: hidden;
  padding: 0 !important;
  border-right: none !important;
  transition: 0.25s ease min-width;
  position: relative;
}

.sp-load-column > span {
  display: inline-block;
  position: absolute;
  left: 10px;
  top: 5px;
  opacity: 0.05;
  background-color: black;
}

.sp-load-column.sp-show {
  min-width: 35px !important;
}


.sp-load-column.sp-loading {
  min-width: 200px !important;
}

th.sp-load-column.sp-loading > span {
  background-color: transparent;
  opacity: 1;
  transform: translateY(-5px);
}

th.sp-sub-column, th.sp-load-column {
  border-top: 4px solid #8D8D8D;
}

.sp-sub-column.sp-sub-column-hide {
  display: none;
}

.sp-sub-column-left::before, .sp-sub-column-right::after, .sp-load-column::before, .sp-load-column::after {
  content: "";
  height: 100%;
  width: 20px;
  display: inline-block;
  position: absolute;
  top: 0;
  opacity: 0.06;
}

.sp-sub-column-left::before, .sp-load-column::before {
  left: 0;
  background: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
}

.sp-sub-column-right::after, .sp-load-column::after {
  right: 0;
  background: red;
  background: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
}

.sp-data-content::-webkit-scrollbar {
  width: 15px;
  height: 15px;
  border: 1px solid rgba(0,0,0,0.25);
  overflow: hidden;
}

.sp-data-content::-webkit-scrollbar-thumb {
  border-radius: 0;
}
 */