@mixin sp-color-helper($color, $attr, $root, $map, $special: '', $override: false) {
  @if ($color == 'transparent' or $color == transparent) {
    #{$attr}: if($override, transparent !important, transparent);;
  } @else {
    $key: #{$root}-#{$color};
    @if (map-has-key($map, $key)) {
      $val: map-get($map, $key);
      @if $special == '' {
        #{$attr}: if($override, $val !important, $val);
      } @else if $special == linear-gradient {
        #{$attr}: if($override, linear-gradient($val, $val) !important, linear-gradient($val, $val));
      }
    } @else {
      @error '#{$key} does not exist in #{$map}';
    }
  }
}

@mixin sp-color($color, $attr, $override: false) {
  @include sp-color-helper($color, $attr, sp-color, $sp-color, '', $override);
}

@mixin sp-color-overlay($level, $attr, $root, $map, $special, $override: false) {
  @include sp-color-helper($level, $attr, $root, $map, $special, $override);
}

@mixin sp-color-overlay-dark($level, $attr, $special: '', $override: false) {
  @include sp-color-overlay($level, $attr, sp-shade-dark, $sp-overlay-dark, $special, $override);
}

@mixin sp-color-overlay-light($level, $attr, $special: '', $override: false) {
  @include sp-color-overlay($level, $attr, sp-shade-light, $sp-overlay-light, $special, $override);
}

/////////////////////////
//                     //
//    font colors      //
//                     //
/////////////////////////

@mixin sp-font-color($color: null) {
  @if ($color == inherit or $color == initial) {
    color: $color;
  } @else if ($color == null or $color == base or $color == '') {
    color: $sp-shade-dark-4;
    @include sp-state-dark {
      color: $sp-shade-light-4;
    }
  } @else if ($color == contrast) {
    color: $sp-shade-dark-5;
    @include sp-state-dark {
      color: $sp-color-white;
    }
  } @else if ($color == muted) {
    color: $sp-shade-dark-3;
    @include sp-state-dark {
      color: $sp-shade-light-2;
    }
  } @else if ($color == success) {
    color: darken($sp-color-success, 12%);
    @include sp-state-dark {
      color: $sp-color-success;
    }
  } @else if ($color == primary) {
    color: darken($sp-color-primary, 10%);
    @include sp-state-dark {
      color: $sp-color-primary;
    }
  } @else if ($color == warning) {
    color: darken($sp-color-warning, 10%);
    @include sp-state-dark {
      color: $sp-color-warning;
    }
  } @else if ($color == danger) {
    color: darken($sp-color-danger, 10%);
    @include sp-state-dark {
      color: $sp-color-danger;
    }
  } @else {
    @if (map-has-key($sp-color, 'sp-color-#{$color}')) {
      $val: map-get($sp-color, 'sp-color-#{$color}');
      color: $val;
    }
  }
}

/////////////////////////
//                     //
//  background colors  //
//                     //
/////////////////////////

@mixin sp-bg-color($color, $override: false) {
  @if ($color == success) {
    $val: darken($sp-color-success, 5%);
    background-color: if($override, $val !important, $val);
  } @else {
    @include sp-color($color, background-color, $override);
  }
}

@mixin sp-bg-overlay-dark($level, $override: false) {
  @include sp-color-overlay-dark($level, background-image, linear-gradient, $override);
}

@mixin sp-bg-overlay-light($level, $override: false) {
  @include sp-color-overlay-light($level, background-image, linear-gradient, $override);
}

/////////////////////////
//                     //
//    border colors    //
//                     //
/////////////////////////

@mixin sp-border-color($color, $location: null, $override: false) {
  $attr: border-color;
  @if $location == top or
      $location == right or
      $location == bottom or
      $location == left {
    $attr: 'border-#{$location}-color';
  }
  @include sp-color($color, $attr, $override);
}

@mixin sp-border-overlay-dark($color, $location: null, $override: false) {
  $attr: border-color;
  @if $location == top or
      $location == right or
      $location == bottom or
      $location == left {
    $attr: 'border-#{$location}-color';
  }
  @include sp-color-overlay-dark($color, $attr, '', $override);
}

@mixin sp-border-overlay-light($color, $location: null, $override: false) {
  $attr: border-color;
  @if $location == top or
      $location == right or
      $location == bottom or
      $location == left {
    $attr: 'border-#{$location}-color';
  }
  @include sp-color-overlay-light($color, $attr, '', $override);
}