@import 'icon-list';

@mixin sp-icon-styles($icon: unchecked) {
    font-family: 'Icon Font' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Better positioning */
    display: inline-block;
    @extend %icon-#{$icon} !optional;
}

@mixin sp-icon-spin {
  animation: iconSpin;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  //animation-direction: alternate;
}

@mixin sp-inline-icon-spin {
  animation: inlineIconSpin;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  //animation-direction: alternate;
}

[class^='sp-icon-'], [class*=' sp-icon-'], [class^='sp-inline-icon-'], [class*=' sp-inline-icon-'], .sp-icon {
  &::before {
    @include sp-icon-styles;
  }

  &.sp-icon-spin {
    &::before {
      @include sp-icon-spin();
    }
  }

  &.sp-icon-color-primary {
    &::before {
      color: $sp-color-primary;
    }
  }

  &.sp-icon-color-success {
    &::before {
      color: $sp-color-success;
    }
  }

  &.sp-icon-color-warning {
    &::before {
      color: $sp-color-warning;
    }
  }

  &.sp-icon-color-danger {
    &::before {
      color: $sp-color-danger;
    }
  }

  &.sp-icon-color-white {
    &::before {
      color: white;
    }
  }
}

[class^='sp-icon-after-'], [class*=' sp-icon-after-'] {
  &::before {
    display: none;
  }

  &::after {
    @include sp-icon-styles;
  }

  &.sp-icon-color-primary {
    &::after {
      color: $sp-color-primary;
    }
  }

  &.sp-icon-color-success {
    &::after {
      color: $sp-color-success;
    }
  }

  &.sp-icon-color-warning {
    &::after {
      color: $sp-color-warning;
    }
  }

  &.sp-icon-color-danger {
    &::after {
      color: $sp-color-danger;
    }
  }

  &.sp-icon-color-white {
    &::after {
      color: white;
    }
  }
}


@keyframes iconSpin {
 0% {
  transform: rotate(0deg);
 }

 100% {
  transform: rotate(360deg);
 }
}

@keyframes inlineIconSpin {
 0% {
  transform: translateY(18%) scale(1.15) rotate(0deg);
 }

 100% {
  transform: translateY(18%) scale(1.15) rotate(360deg);
 }
}

[class^='sp-inline-icon-'], [class*=' sp-inline-icon-'] {
  &::before {
    transform: translateY(18%) scale(1.15);
  }

  &.sp-icon-spin {
    &::before {
      @include sp-inline-icon-spin();
    }
  }
}

.sp-inline-icon-solid-lock, .sp-inline-icon-solid-unlock {
  &::before {
    transform: translateY(18%) scale(0.8);
  }
}


@mixin sp-icon-size($size: null) {
  $key: 'sp-icon-size-base';
  @if ($size != null) {
    $key: 'sp-icon-size-#{$size}';
  }
  @if map-has-key($sp-icon-size, $key) {
    $val: map-get($sp-icon-size, $key);
    font-size: $val;
  }
}

@each $item in (null, tiny, small, large, huge) {
  $selector: '[class*="sp-icon-"],[class*="sp-icon-"].sp-base, .sp-base [class*="sp-icon-"]';
  @if ($item != null and $item != 'base' and $item != '') {
    $selector: '[class*="sp-icon-"].sp-#{$item}, .sp-#{$item} [class*="sp-icon-"]';
  }
  '#{$selector}' {
    &:before {
      @include sp-icon-size($item);
    }
  }
}

@each $item in (null, tiny, small, large, huge) {
  $selector: '[class*="sp-icon-after-"],[class*="sp-icon-after-"].sp-base, .sp-base [class*="sp-icon-after-"]';
  @if ($item != null and $item != 'base' and $item != '') {
    $selector: '[class*="sp-icon-after-"].sp-#{$item}, .sp-#{$item} [class*="sp-icon-after-"]';
  }
  '#{$selector}' {
    &:after {
      @include sp-icon-size($item);
    }
  }
}


.sp-icon-docs[href='/developer']::before {
  content: "\F026";
}