@import 'variables';
@import 'base';
@import 'quarks';

body {
	@include sp-font-body;
  	@include sp-font-color;
  	background-color: $sp-color-light-lighter;
}

a:not(.btn):not(.brand) {
	color: darken($sp-color-primary, 5%);

	&:hover {
		color: darken($sp-color-primary, 15%);
	}

	&:active {
		color: $sp-color-primary;
	}

	&:visited {
		color: darken($sp-color-primary, 10%);
	}
}

#fullArticle {
	@include sp-font-body;
  	@include sp-font-color;

  	p, ol, ul, li, div, dd {
  		font-size: $sp-font-size-base;
  	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@include sp-font-color;
	  	@include sp-margin(2, vertical);
	  	@include sp-padding(0);
	}

	h1 {
		@include sp-font-color(contrast);
	  	@include sp-font-header(h1);
	}

	h2 {
		@include sp-font-color(contrast);
	  	@include sp-font-header(h2);
	}

	h3 {
		@include sp-font-color(contrast);
	  	@include sp-font-header(h3);
	}

	h4 {
	  	@include sp-font-header(h4);
	}

	h5 {
	  @include sp-font-header(h5);
	}

	h6 {
	  @include sp-font-header(h6);
	}
	.callout-yellow {
		background-color: $sp-color-warning;
		@include sp-bg-overlay-light(5);
		border-color: $sp-color-warning;
	}

	.callout-blue {
		background-color: $sp-color-primary;
		@include sp-bg-overlay-light(5);
		border-color: $sp-color-primary;
	}

	.callout-red {
		background-color: $sp-color-danger;
		@include sp-bg-overlay-light(5);
		border-color: $sp-color-danger;
	}

	.callout-green {
		background-color: $sp-color-success;
		@include sp-bg-overlay-light(5);
		border-color: $sp-color-success;
	}

	.callout {
		background-color: $sp-color-grey;
		@include sp-bg-overlay-light(5);
		border-color: $sp-color-grey;
	}

	.callout, .callout-yellow, .callout-blue, .callout-red, .callout-green {
		p, ol, ul, li, div, dd {
  			font-size: $sp-font-size-base;
  		}
	}

	pre {
		background-color: $sp-color-white;
		@include sp-font-size(small);
	}

	table {
		background-color: $sp-color-white;
		border: 1px solid $sp-color-light-darker;
	}

	table thead th {
		font-weight: 600;
		@include sp-font-color(contrast);
	}

	table.table-striped tbody> tr:nth-child(odd)> td, table.table-striped tbody>tr:nth-child(odd)>th {
		background-color: $sp-color-light-lighter;
	}

	blockquote {
		border-left-color: $sp-color-primary;
		font-size: $sp-font-size-large;
	}

	dt {
		background-color: $sp-color-primary;
		color: $sp-color-primary;
		@include sp-bg-overlay-light(5);
		border: 2px solid $sp-color-primary;
		line-height: 1.1em;
		font-weight: 600;
	}

	ol {
		counter-reset: ol-counter;
	}

	ol > li {
		
		&:before {
			content: counter(ol-counter);
			counter-increment: ol-counter;
			display: inline-block;
			margin-right: 10px;
		}
	}

	ul > li {
		&:before {
			content: "";
			display: inline-block;
			width: 8px;
			height: 8px;
			border-radius: 50%;
			margin-right: 10px;
			background-color: $sp-color-dark-base;
			@include sp-bg-overlay-light(5);
			border: 1px solid $sp-color-dark-base;
		}
	}

	code {
		font-family: monospace;
	}

	b, strong {
		font-weight: 600 !important;
	}
}

.btn {
	background-image: none;
	color: $sp-color-white;
	text-shadow: none;
	font-weight: 600;
	//@include sp-font-label;
	@include sp-tactile(base, true);
}

.navbar {
	@include sp-height(3);
	.navbar-inner {
		background-color: $sp-color-white;
		//border-bottom: 1px solid $sp-color-light-darker;
		@include sp-height(3);

		.container-fluid {
			@include sp-height(3);
		}
	}

	.brand {
		margin-top: 6px;
		color: inherit;
		position: relative;
		display: inline-block;
		line-height: 1;

		&:before {
			font-family: "Icon Font";
			display: block;
			text-align: center;
			-webkit-font-smoothing: none;
	        -moz-osx-font-smoothing: none;
			@extend %icon-logo-mark !optional;
			margin-bottom: 0;
			margin-right: 0.35em;
			display: inline-block;
			font-size: 40px;
			color: $sp-color-primary;
		}

		> img {
			display: none;
		}

		&:after {
			font-family: "Icon Font";
			text-align: center;
			@extend %icon-logo-name !optional;
			display: inline-block;
			position: relative;
			transform: translateY(-50%);
			font-size: 18px;
			color: $sp-color-dark-base;
		}
	}

	@media (max-width: 1110px) {
		.nav-collapse, .nav-collapse.collapse {
			width: 100vw;
			margin-left: -20px;
		}
		.nav {
			&::before {
				padding-left: 20px;
			}

			&::after {
				padding-left: 60px !important;
			}
		}
	}

	@media (max-width: 768px) {
		.nav-collapse, .nav-collapse.collapse {
			z-index: 100 !important;
		}
		.nav {
			background-color: $sp-color-dark-base;
			z-index: 100 !important;
			margin-top: 8px;
			width: 100vw;
		}
	}

	.nav {
		&::before {
			@extend %icon-circle-help !optional;
			display: none;
		}
	}

	@media (min-width: 769px) {
		margin-bottom: 148px;

		.nav {
			box-sizing: border-box;
			width: 100vw;
			left: 50%;
			transform: translateX(-50%);
			padding-left: calc((100vw - 1080px)/2);
			padding-right: calc((100vw - 1080px)/2);
			min-height: 148px;
			@include sp-font-size(small);
			background-color: $sp-color-light-base;
			position: absolute;
			top: 100%;
			text-align: left;
			display: flex;
			align-items: flex-end;
			//flex-wrap: wrap;
			padding-top: 98.08px;
			justify-content: flex-start;
			overflow-x: hidden;


			&::after {
				content: "Knowledge Base";
				display: block;
				box-sizing: border-box;
				@include sp-height(4);
				@include sp-font-color;
	  			@include sp-padding(3, vertical);
	  			//@include sp-padding(0);
	  			@include sp-font-color(contrast);
	  			@include sp-font-header(h2);
	  			position: absolute;
	  			width: auto;
	  			padding-left: 40px;
	  			top: 0;
	  			//padding-left: 20px;
			}

			&::before {
				font-family: "Icon Font";
				display: block;
				box-sizing: border-box;
				@include sp-height(4);
				@include sp-font-color(primary);
	  			@include sp-padding(3, vertical);
	  			//@include sp-padding(0);
	  			@include sp-font-color(contrast);
	  			@include sp-font-header(h2);
	  			position: absolute;
	  			width: 40px;
	  			top: 0;
	  			color: darken($sp-color-primary, 8%);
	  			//padding-left: 20px;
			}

			> li {
				line-height: 1em;
				box-sizing: border-box;
				height: 48px;
				padding: 0;

				&.active {
					> a {
						border-bottom: 3px solid $sp-color-primary;
    					@include sp-font-color(contrast);
					}
				}

				> a {
					padding: auto;
					height: 48px;
					box-sizing: border-box;
					white-space: nowrap;
  					overflow: hidden;
  					text-overflow: ellipsis;
  					font-size: .8rem;
    				line-height: 1rem;
    				letter-spacing: .1em;
    				text-transform: uppercase;
    				font-weight: 700;
    				line-height: 2;
    				@include sp-font-color(base);

    				&:hover {
    					@include sp-font-color(contrast);
    				}

    				&:visited {
    					@include sp-font-color(base);
    				}

    				.caret {
    					display: none !important;
    				}
				}
			}
		}
	}
}

.twoCol h2 a:hover, .threeCol h2 a:hover {
	border-color: transparent;
}

.twoCol .popArticles a:hover span, .threeCol .popArticles a:hover span, .most-pop-articles .popArticles a:hover span {
    text-decoration: none;
}

.twoCol .collection, .threeCol .collection {
	border: none;
	@include sp-overlay;

	@media (max-width: 768px) {
		box-shadow: none;
		border-bottom: 1px solid $sp-color-light-darker;

		&:first-child {
			border-top: 1px solid $sp-color-light-darker;
		}
	}
}

#searchBar button {
	@include sp-tactile(primary, true);
	text-shadow: none;
	font-size: .8rem;
	line-height: 1rem;
	letter-spacing: .1em;
	text-transform: uppercase;
	font-weight: 700;
	top: 30px;

	@media (max-width: 768px) {
		top: 22px;
	}

	&:hover {
		@include sp-tactile(primary, false);
	}
}

#searchBar .search-query, #sidebar form .search-query {
	@include sp-input();
}

#docsSearch h1 {
	display: none;
}

#docsSearch {
	position: relative;
	background-color: $sp-color-dark-base;
	padding-top: 100px;
	padding-bottom: 100px;
	overflow: hidden;

	&::before {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: url(assets/img/green-glow.png);
		background-size: cover;
		background-position: center 55%;
		opacity: 0.75;
		filter: blur(10px);
	}

	@media (max-width: 768px) {
		&::before {
			background-size: 200% auto;
		}
	}
}

// #mainNav .nav-collapse {
// 	@include sp-height(3);
// 	&::before {
// 		content: "Test";
// 		display: inline-block;
// 		position: absolute;
// 		top: 0;
// 		right: 0;
// 		@include sp-tactile(primary, true);
// 		@include sp-tactile-minimal;
// 	}
// }