@import 'variables';

/* Light */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: url('assets/fonts/source_sans_pro_light.eot?t=1488910176523'); /* IE9*/
  src: url('assets/fonts/source_sans_pro_light.eot?t=1488910176523#iefix') format('embedded-opentype'), /* IE6-IE8 */
	   url('assets/fonts/source_sans_pro_light.woff?t=1488910176523') format('woff'), /* chrome, firefox */
       url('assets/fonts/source_sans_pro_light.ttf?t=1488910176523') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
       url('assets/fonts/source_sans_pro_light.svg?t=1488910176523#svg') format('svg'); /* iOS 4.1- */
}

/* Normal */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/source_sans_pro_regular.eot?t=1488910176523'); /* IE9*/
  src: url('assets/fonts/source_sans_pro_regular.eot?t=1488910176523#iefix') format('embedded-opentype'), /* IE6-IE8 */
	   url('assets/fonts/source_sans_pro_regular.woff?t=1488910176523') format('woff'), /* chrome, firefox */
       url('assets/fonts/source_sans_pro_regular.ttf?t=1488910176523') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
       url('assets/fonts/source_sans_pro_regular.svg?t=1488910176523#svg') format('svg'); /* iOS 4.1- */
}

/* Semi Bold */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: url('assets/fonts/source_sans_pro_semibold.eot?t=1488910176523'); /* IE9*/
  src: url('assets/fonts/source_sans_pro_semibold.eot?t=1488910176523#iefix') format('embedded-opentype'), /* IE6-IE8 */
	   url('assets/fonts/source_sans_pro_semibold.woff?t=1488910176523') format('woff'), /* chrome, firefox */
       url('assets/fonts/source_sans_pro_semibold.ttf?t=1488910176523') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
       url('assets/fonts/source_sans_pro_semibold.svg?t=1488910176523#svg') format('svg'); /* iOS 4.1- */
}

/* Bold */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: url('assets/fonts/source_sans_pro_bold.eot?t=1488910176523'); /* IE9*/
  src: url('assets/fonts/source_sans_pro_bold.eot?t=1488910176523#iefix') format('embedded-opentype'), /* IE6-IE8 */
	   url('assets/fonts/source_sans_pro_bold.woff?t=1488910176523') format('woff'), /* chrome, firefox */
       url('assets/fonts/source_sans_pro_bold.ttf?t=1488910176523') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
       url('assets/fonts/source_sans_pro_bold.svg?t=1488910176523#svg') format('svg'); /* iOS 4.1- */
}

@font-face {font-family: "Icon Font";
  src: url('assets/fonts/sp-icon-font/sp-icon-font.eot?t=1488910964013'); /* IE9*/
  src: url('assets/fonts/sp-icon-font/sp-icon-font.eot?t=1488910964013#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('assets/fonts/sp-icon-font/sp-icon-font.woff?t=1488910964013') format('woff'), /* chrome, firefox */
  url('assets/fonts/sp-icon-font/sp-icon-font.ttf?t=1488910964013') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('assets/fonts/sp-icon-font/sp-icon-font.svg?t=1488910964013#iconfont') format('svg'); /* iOS 4.1- */
}

/* Base Styles */

body {
	font-family: 'Source Sans Pro';
}