.sp-app-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  @include sp-bg-overlay-dark(4);
  opacity: 1;
  transition: 0.5s ease opacity;
  z-index: 99;
  @include sp-flex();
  align-items: center;
  justify-content: center;

  /*&.sp-hide, &.sp-hidden, .sp-app.sp-hide-overlay & {
    top: -100%;
    opacity: 0;

    > .sp-app-overlay-content {
      transform: translate(-50%, -50%) scale(0);
    }
  }*/

  > .sp-app-overlay-content {
    transition: 0.25s ease transform;
    display: block;
  }
}